.newwireframe3unsupported0 {
  margin-left: 260px;
  margin-top: 11px;
  width: 683px;
  height: 58px
}
.newwireframe3row1,
.style42 {
  position: relative;
  height: 229px
}
.newwireframe3row1 {
  display: flex;
  margin-left: 209px;
  margin-top: 16px;
  width: 775px
}
.style42 {
  margin-left: 0;
  margin-top: 13px;
  width: 265px;
  flex-shrink: 0
}
.newwireframe3row1column1,
.style6 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.newwireframe3row1column1 {
  margin-left: 171px;
  width: 76px;
  align-self: center;
  flex-shrink: 0;
  height: 156px
}
.style6 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-top: 0;
  height: 49px;
  justify-content: center
}
.style7 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style12 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-top: 58px;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style13 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.newwireframe3row1column2 {
  display: flex;
  margin-left: 0;
  width: 151px;
  height: 243px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  flex-shrink: 0
}
.style3 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  margin-top: 0;
  height: 38px
}
.style8 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style0,
.style9 {
  font-family: BalsamiqSans,serif;
  font-size: 1.375em
}
.style9 {
  text-align: center;
  height: 24px
}
.style0 {
  color: #00000a;
  margin-top: 20px;
  height: 38px
}
.style14 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style15,
.style5 {
  font-family: BalsamiqSans,serif;
  font-size: 1.375em
}
.style15 {
  text-align: center;
  height: 24px
}
.style5 {
  color: #00000a;
  margin-top: 11px;
  height: 38px
}
.newwireframe3row1column3,
.style10 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.newwireframe3row1column3 {
  margin-left: 0;
  width: 113px;
  align-self: center;
  flex-shrink: 0;
  height: 156px
}
.style10 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-top: 0;
  height: 49px;
  justify-content: center
}
.style11 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style16 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-top: 58px;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style17 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.newwireframe3row2,
.style18 {
  display: flex;
  align-items: stretch
}
.newwireframe3row2 {
  margin-top: 15px;
  height: 49px;
  margin-left: 644px;
  width: 339px
}
.style18 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 76px;
  flex-direction: column;
  justify-content: center
}
.style19 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style20 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 151px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style21 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style22 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 113px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style23 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.newwireframe3row4,
.style43 {
  margin-left: 238px;
  margin-top: 0;
  height: 51px
}
.style43 {
  font-family: BalsamiqSans,serif;
  font-size: 2.5em
}
.newwireframe3row4 {
  position: relative;
  display: flex;
  width: 746px
}
.style24,
.style44 {
  position: relative;
  flex-shrink: 0
}
.style44 {
  font-family: BalsamiqSans,serif;
  font-size: 2.5em;
  margin-left: 0;
  margin-top: 18px;
  height: 51px
}
.style24 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 44px;
  margin-top: 38px;
  width: 76px;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style25 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.newwireframe3row4column2 {
  display: flex;
  margin-left: 0;
  width: 151px;
  height: 87px;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0
}
.style2 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  margin-top: 0;
  height: 38px
}
.style26 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style27 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style28 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 38px;
  width: 113px;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style29 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.newwireframe3row6,
.style45 {
  margin-left: 238px;
  height: 51px
}
.style45 {
  font-family: BalsamiqSans,serif;
  font-size: 2.5em;
  margin-top: 24px
}
.newwireframe3row6 {
  position: relative;
  display: flex;
  margin-top: 0;
  width: 746px
}
.style30,
.style46 {
  position: relative;
  flex-shrink: 0
}
.style46 {
  font-family: BalsamiqSans,serif;
  font-size: 2.5em;
  margin-left: 0;
  margin-top: 16px;
  height: 51px
}
.style30 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 212px;
  margin-top: 38px;
  width: 76px;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style31 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.newwireframe3row6column2 {
  display: flex;
  margin-left: 0;
  width: 151px;
  height: 87px;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0
}
.style1 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  margin-top: 0;
  height: 38px
}
.style32 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style33 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style34 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 38px;
  width: 113px;
  height: 49px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style35,
.style4 {
  font-family: BalsamiqSans,serif;
  font-size: 1.375em
}
.style35 {
  text-align: center;
  height: 24px
}
.style4 {
  color: #00000a;
  margin-left: 764px;
  margin-top: 45px;
  height: 38px
}
.newwireframe3row8,
.style36 {
  display: flex;
  align-items: stretch
}
.newwireframe3row8 {
  margin-top: 0;
  height: 49px;
  margin-left: 644px;
  width: 339px
}
.style36 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 76px;
  flex-direction: column;
  justify-content: center
}
.style37 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style38 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 151px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style39 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  height: 24px
}
.style40 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 113px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style41,
.style53 {
  font-family: BalsamiqSans,serif
}
.style41 {
  text-align: center;
  font-size: 1.375em;
  height: 24px
}
.style53 {
  font-size: 1.75em;
  text-indent: 23px;
  margin-left: 115px;
  margin-top: 159px;
  width: 883px;
  height: 124px
}
.style47,
.style51,
.style53 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000
}
.style51 {
  font-family: BalsamiqSans,serif;
  font-size: 1.75em;
  text-indent: 23px;
  margin-left: 115px;
  margin-top: 39px;
  width: 883px;
  height: 120px
}
.style47 {
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 361px;
  margin-top: 37px;
  width: 441px;
  height: 99px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style48 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.75em;
  height: 30px
}
.style49 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 361px;
  margin-top: 37px;
  width: 441px;
  height: 99px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style50 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.75em;
  height: 30px
}
.newwireframe4unsupported0 {
  margin-left: 305px;
  margin-top: 34px;
  width: 634px;
  height: 54px
}
.style61 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 322px;
  margin-top: 27px;
  height: 35px
}
.newwireframe4row2 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 949px;
  height: 67px;
  align-items: center
}
.style57,
.style64 {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  flex-shrink: 0
}
.style57 {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #ccc;
  margin-left: 0;
  width: 67px;
  height: 100%
}
.style64 {
  background-color: #fff;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 143px;
  width: 71px;
  height: 46px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style65 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style66 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 140px;
  height: 46px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style67 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style68 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 104px;
  height: 46px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style69 {
  text-align: center;
  height: 22px
}
.style55,
.style58,
.style69 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em
}
.style55 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 17px;
  position: relative;
  width: 371px;
  flex-shrink: 0;
  margin-left: 52px;
  height: 100%
}
.style58 {
  color: #00000a;
  margin-left: 322px;
  margin-top: 3px;
  height: 35px
}
.newwireframe4row4,
.style70 {
  display: flex;
  align-items: stretch
}
.newwireframe4row4 {
  margin-top: 0;
  height: 46px;
  margin-left: 211px;
  width: 315px
}
.style70 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 71px;
  flex-direction: column;
  justify-content: center
}
.style71 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style72 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 140px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style73 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style74 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 104px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style63,
.style75 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em
}
.style75 {
  text-align: center;
  height: 22px
}
.style63 {
  color: #00000a;
  margin-left: 322px;
  margin-top: 10px;
  height: 35px
}
.newwireframe4row6,
.style76 {
  display: flex;
  align-items: stretch
}
.newwireframe4row6 {
  margin-top: 0;
  height: 46px;
  margin-left: 211px;
  width: 315px
}
.style76 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 71px;
  flex-direction: column;
  justify-content: center
}
.style77 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style78 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 140px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style79 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style80 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 104px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style60,
.style81 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em
}
.style81 {
  text-align: center;
  height: 22px
}
.style60 {
  color: #00000a;
  margin-left: 322px;
  margin-top: 12px;
  height: 35px
}
.newwireframe4row8,
.style82 {
  display: flex;
  align-items: stretch
}
.newwireframe4row8 {
  margin-top: 0;
  height: 46px;
  margin-left: 211px;
  width: 315px
}
.style82 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 71px;
  flex-direction: column;
  justify-content: center
}
.style83 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style84 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 140px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style85 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style86 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 104px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style59,
.style87 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em
}
.style87 {
  text-align: center;
  height: 22px
}
.style59 {
  color: #00000a;
  margin-left: 322px;
  margin-top: 20px;
  height: 35px
}
.newwireframe4row10,
.style88 {
  display: flex;
  align-items: stretch
}
.newwireframe4row10 {
  margin-top: 0;
  height: 46px;
  margin-left: 211px;
  width: 315px
}
.style88 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 71px;
  flex-direction: column;
  justify-content: center
}
.style89 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style90 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 140px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style91 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style92 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 104px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style62,
.style93 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em
}
.style93 {
  text-align: center;
  height: 22px
}
.style62 {
  color: #00000a;
  margin-left: 322px;
  margin-top: 8px;
  height: 35px
}
.newwireframe4row12,
.style94 {
  display: flex;
  align-items: stretch
}
.newwireframe4row12 {
  margin-top: 0;
  height: 46px;
  margin-left: 211px;
  width: 315px
}
.style94 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  margin-left: 0;
  width: 71px;
  flex-direction: column;
  justify-content: center
}
.style95 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style96 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 140px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style97 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.style98 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 104px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style99 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.newwireframe6unsupported0 {
  margin-left: 259px;
  margin-top: 47px;
  width: 657px;
  height: 56px
}
.style100 {
  margin-left: 409px;
  margin-top: 52px;
  width: 327px;
  height: 286px
}
.style104 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 449px;
  margin-top: 17px;
  width: 248px;
  height: 80px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style105 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  height: 23px
}
.style101,
.style106,
.style107,
.style108 {
  font-family: BalsamiqSans,serif;
  font-size: 2.375em;
  margin-left: 468px;
  margin-top: 16px;
  height: 49px
}
.style101,
.style106,
.style107 {
  margin-top: 0
}
.style102 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 449px;
  margin-top: 0;
  width: 248px;
  height: 80px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style103 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  height: 23px
}
.newwireframe2row0 {
  display: flex;
  margin-left: 87px;
  margin-top: 101px;
  width: 696px;
  height: 43px;
  align-items: stretch
}
.style125,
.style126 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  margin-left: 0
}
.style126 {
  margin-left: 357px
}
.newwireframe2row1 {
  display: flex;
  margin-left: 87px;
  margin-top: 0;
  width: 1004px;
  height: 87px;
  align-items: stretch
}
.style109,
.style111 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  text-indent: 21px;
  margin-left: 0;
  width: 494px
}
.style111 {
  margin-left: 33px;
  width: 477px
}
.style127 {
  margin-left: 83px;
  margin-top: 0;
  height: 43px
}
.style113,
.style115,
.style127,
.style128 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em
}
.style113 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 21px;
  width: 996px;
  margin-left: 87px;
  margin-top: 10px;
  height: 83px
}
.style115,
.style128 {
  margin-left: 83px;
  margin-top: 12px;
  height: 43px
}
.style115 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 21px;
  margin-top: 0;
  width: 996px;
  height: 83px
}
.newwireframe2row6 {
  display: flex;
  margin-left: 83px;
  margin-top: 17px;
  width: 733px;
  height: 43px;
  align-items: stretch
}
.style129,
.style130 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  margin-left: 0
}
.style130 {
  margin-left: 361px
}
.newwireframe2row7 {
  display: flex;
  margin-left: 83px;
  margin-top: 0;
  width: 1010px;
  height: 78px;
  align-items: stretch
}
.style117 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  text-indent: 21px;
  margin-left: 0;
  width: 504px
}
.style117,
.style119,
.style121 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000
}
.style119 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  text-indent: 21px;
  margin-left: 27px;
  width: 479px
}
.style121 {
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 353px;
  margin-top: 33px;
  width: 463px;
  height: 56px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style122 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  height: 27px
}
.style131 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 353px;
  margin-top: 21px;
  width: 463px;
  height: 66px;
  flex-direction: column;
  justify-content: center
}
.newwireframe2button2unsupported0 {
  margin-left: 12px;
  width: 50px;
  height: 50px
}
.style132 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  position: relative;
  height: 27px;
  align-self: stretch
}
.style123 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 644438333496px 644438333496px 0 0 #000;
  display: flex;
  margin-left: 353px;
  margin-top: 17px;
  width: 463px;
  height: 56px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style124 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  height: 27px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.newwireframe5unsupported0 {
  margin-left: 257px;
  margin-top: 16px;
  width: 657px;
  height: 56px
}
.newwireframe5row1 {
  display: flex;
  margin-left: 80px;
  margin-top: 17px;
  width: 709px;
  height: 49px;
  align-items: stretch
}
.style137,
.style139 {
  font-family: BalsamiqSans,serif;
  font-size: 2.375em;
  margin-left: 0
}
.style139 {
  margin-left: 335px
}
.newwireframe5row2 {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  width: 1003px;
  height: 140px;
  align-items: stretch
}
.style141,
.style143 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0;
  width: 480px
}
.style141 {
  margin-left: 42px
}
.newwireframe5row3 {
  position: relative;
  display: flex;
  margin-left: 80px;
  margin-top: 2px;
  width: 1003px;
  height: 140px
}
.style133 {
  font-size: 1.3125em;
  margin-left: 0;
  width: 480px;
  align-self: stretch;
  flex-shrink: 0
}
.style133,
.style138,
.style145 {
  font-family: BalsamiqSans,serif
}
.style145 {
  position: relative;
  width: 480px;
  flex-shrink: 0;
  font-size: 1.3125em;
  margin-left: 42px;
  margin-top: 16px
}
.style138 {
  font-size: 2.375em;
  margin-left: 80px;
  margin-top: 5px;
  height: 49px
}
.newwireframe5row5 {
  position: relative;
  display: flex;
  margin-left: 80px;
  margin-top: 0;
  width: 1003px;
  height: 147px
}
.style134 {
  font-family: BalsamiqSans,serif;
  position: relative;
  margin-left: 0;
  margin-top: 31px;
  flex-shrink: 0
}
.style134,
.style135,
.style146 {
  font-size: 1.3125em;
  width: 480px
}
.style146 {
  font-family: BalsamiqSans,serif;
  margin-left: 42px;
  align-self: stretch;
  flex-shrink: 0
}
.style135 {
  margin-top: 52px
}
.style135,
.style136,
.style140,
.style142,
.style144 {
  font-family: BalsamiqSans,serif;
  margin-left: 80px
}
.style140 {
  height: 49px;
  font-size: 2.375em;
  margin-top: 28px
}
.style136,
.style142,
.style144 {
  font-size: 1.3125em;
  margin-top: 12px;
  width: 480px
}
.style136,
.style144 {
  margin-top: 28px
}
.style144 {
  margin-top: 10px
}